#container {
    display: flex;    
    justify-content: center;
}

#verticalContainer {
    display: flex;
    flex-direction: column;
}

.cell {
    background-color: white;
    width: 1rem;
    height: 1rem;
    border: solid 1px darkblue;
}

.hover {
    background-color: darkblue;
}