#btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

#container {
    margin: auto;
    display: flex;
    width: 70vmin;
    height: 70vmin;
    border: 3px solid darkblue;
}

.cell-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
}

.cell {
    background-color: white;
    border: solid 1px darkblue;
    flex: 1;
}

.hover {
    background-color: darkblue;
}